In [11]:
import math
math.sqrt(25)

5.0

In [12]:
content = dir(math)

In [22]:
isinstance(2.0,(str,float))

True

In [27]:
bool({})

False

# list

In [30]:
empty_list = ['']

In [31]:
empty_list

['']

In [34]:
family=['aroush','zainab','amal','taha','mahira']
len(family)

5

In [35]:
family.append('mitho')
family

['aroush', 'zainab', 'amal', 'taha', 'mahira', 'mitho']

In [37]:
family.extend(['Abba','Ammo'])
family

['aroush', 'zainab', 'amal', 'taha', 'mahira', 'mitho', 'Abba', 'Ammo']

In [38]:
family.insert(0,'Azeem Khan')
family

['Azeem Khan',
 'aroush',
 'zainab',
 'amal',
 'taha',
 'mahira',
 'mitho',
 'Abba',
 'Ammo']

In [39]:
family.remove('mitho')
family

['Azeem Khan', 'aroush', 'zainab', 'amal', 'taha', 'mahira', 'Abba', 'Ammo']

In [41]:
family.pop(0) #remove data from index 0 and return it
family

['zainab', 'amal', 'taha', 'mahira', 'Abba', 'Ammo']

In [42]:
del family[-1]
family

['zainab', 'amal', 'taha', 'mahira', 'Abba']

In [44]:
family.append('Ammi')
family

['zainab', 'amal', 'taha', 'mahira', 'Abba', 'Ammi']

In [45]:
neighbors = family + ['Wasim','Baqir']
neighbors

['zainab', 'amal', 'taha', 'mahira', 'Abba', 'Ammi', 'Wasim', 'Baqir']

In [49]:
weekdays = ['Mon','Tues','Wed','Thurs','Fri']
weekdays[0]

'Mon'

In [56]:
weekdays[0:3]

['Mon', 'Wed']

In [51]:
weekdays[:3]

['Mon', 'Tues', 'Wed']

In [53]:
weekdays[3:]

['Thurs', 'Fri']

In [57]:
weekdays[-1] # last value of list shown here

'Fri'

In [58]:
weekdays[::2] # list shown from starting to end with 2 gap

['Mon', 'Wed', 'Fri']

In [59]:
weekdays[::-1] # backward list series

['Fri', 'Thurs', 'Wed', 'Tues', 'Mon']

# alternative method of reverse

In [60]:
list(reversed(weekdays))

['Fri', 'Thurs', 'Wed', 'Tues', 'Mon']

In [66]:
family.sort(reverse=True)
family.sort(key=len)
family

['taha', 'amal', 'Ammi', 'Abba', 'zainab', 'mahira']

In [73]:
num = [1,2,3]
num2 = num
num2[0] = 0
num
#same_num

[0, 2, 3]

In [78]:
new_num = num.copy()
new_num[0]=5
print(f"Orignal list  = {num}")
print(f"new number list = {new_num}")

Orignal list  = [0, 2, 3]
new number list = [5, 2, 3]

In [79]:
another_num = num[:]
another_num[0]=6
print(f"Orignal list  = {num}")
print(f"new number list = {another_num}")

Orignal list  = [0, 2, 3]
new number list = [6, 2, 3]

In [80]:
list_num = list(num)
list_num[0] = 8
print(f"Orignal list  = {num}")
print(f"new number list = {list_num}")

Orignal list  = [0, 2, 3]
new number list = [8, 2, 3]

In [81]:
id(num) == id(num2)

True

In [83]:
 a = [1, 2, 3] + [4, 5, 6]
b = ["a"] * 2 + ["b"] * 3

In [86]:
print(f"List of a = {a}\n list of b = {b}")

List of a = [1, 2, 3, 4, 5, 6]
 list of b = ['a', 'a', 'b', 'b', 'b']

In [88]:
name = ['azeem'] * 2
name

['azeem', 'azeem']

# tuples

In [104]:
tuples1 = (1,2,'three') # direct tuple
tuples1[:]

(1, 2, 'three')

In [96]:
tuples2 = ([1,2,'three']) #tuple from a list
type(tuples2)

list

In [118]:
tuples3 = (1,2,[1,5,'six'])
len(tuples3)
tuples3

(1, 2, [1, 5, 'six'])

In [119]:
type(tuples3)

tuple

In [129]:
new_tup = tuples3 + (7,8)
new_tup

(1, 2, [1, 5, 'six'], 7, 8)

In [125]:
(3,4)*2

(3, 4, 3, 4)

In [126]:
[1,2]*2

[1, 2, 1, 2]

In [130]:
[1,2]*4

[1, 2, 1, 2, 1, 2, 1, 2]

In [136]:
my_tup = ([1,2,3])
type(my_tup)

list

In [137]:
my_tup[0] = 2
my_tup

[2, 2, 3]

# STRING

In [150]:
s = str(42)
s = 'i like you'
len(s)

10

In [151]:
s.title()

'I Like You'

In [156]:
s.startswith('i')

True

In [161]:
s.isdigit() # isdigit acutally check the number of any stirng features

False

In [166]:
stringtest = 'f123'
stringtest.isdigit()

False

In [177]:
s.find('hate')

-1

In [180]:
s.replace('like','love')

'i love you'

In [181]:
s.split(" ")

['i', 'like', 'you']

In [182]:
family

['taha', 'amal', 'Ammi', 'Abba', 'zainab', 'mahira']

In [187]:
spacevariable = '     i need python job     '
spacevariable.strip()

'i need python job'

In [191]:
#' %s raining %s and %s' % ('cats','dogs','bird') # old way
'raining {} and {}'.format('cats','dogs') # new way
#'raining {arg1} and {arg2}'.format(arg1='cats',arg2='dogs') # named arguments

' cats raining dogs and bird'

In [192]:
'This my course {} and i will learn {}'.format('Python', 'Machine Learning')

'This my course Python and i will learn Machine Learning'

In [198]:
'pi is {:.3f}'.format(3.14159)

AttributeError: 'float' object has no attribute '3f'

# DICTIONARIES

In [199]:
empy_dict = dict()
empy_dict

{}

In [201]:
my_family_mem = dict(name= 'azeem', fname= 'khan')
my_family_mem

{'name': 'azeem', 'fname': 'khan'}

In [202]:
list_of_tuples = [('name','sajidkhan'), ('fname','abbaskhan')]

In [205]:
my_famil = dict(list_of_tuples)
#new_mem = my_famil + my_family_mem
my_famil

{'name': 'sajidkhan', 'fname': 'abbaskhan'}

In [206]:
my_famil['name']

'sajidkhan'

In [207]:
len(my_famil)

2

In [208]:
my_famil.items()

dict_items([('name', 'sajidkhan'), ('fname', 'abbaskhan')])

In [209]:
my_famil['name'] = 'Azeem Khan'
my_famil

{'name': 'Azeem Khan', 'fname': 'abbaskhan'}

In [212]:
del my_famil['name']

In [213]:
my_famil

{'fname': 'abbaskhan'}

In [218]:
try:
    my_famil['grandma']# throws an error
except KeyError as e:
    print("Error", e)

Error 'grandma'

In [225]:
my_famil.get('abbaskhan','not found')
#my_famil

'not found'

In [232]:
khi_family = dict(name = ['azeem','aroush','zainab','taha','amal','mahira','abba','ammi'], fname=['Abbas Khan']*8)

In [243]:
khi_family['fname'][:]

['Abbas Khan',
 'Abbas Khan',
 'Abbas Khan',
 'Abbas Khan',
 'Abbas Khan',
 'Abbas Khan',
 'Abbas Khan',
 'Abbas Khan']

# sets

In [145]:
empty_sets = set()

In [252]:
empty_sets

set()

In [267]:
language = {'Java','Python','R','C++'}
snakes = set(['cobra','viper','python','anaconda'])

In [280]:
language & snakes

set()

In [274]:
'Python' in language

True

In [278]:
language | language

{'C++', 'Java', 'Python', 'R'}

In [281]:
language - snakes

{'C++', 'Java', 'Python', 'R'}

In [282]:
snakes-language

{'anaconda', 'cobra', 'python', 'viper'}

In [283]:
language.add('Sql')

In [284]:
language

{'C++', 'Java', 'Python', 'R', 'Sql'}

In [287]:
language.add('R')

In [296]:
language

{'+', '-', 'a', 'b', 'c', 'e', 'h', 'p', 'r', 's', 'v'}

In [288]:
try:
    language.remove('VB')
except KeyError as e:
    print("Error",e)

Error 'VB'

In [291]:
language.discard('VB')

In [292]:
language.clear()

In [293]:
language

set()

In [307]:
language.update({'vb'",",'c','c++','c-sharpe'})

In [308]:
language

{'+',
 '-',
 'a',
 'b',
 'c',
 'c++',
 'c-sharpe',
 'e',
 'h',
 'p',
 'r',
 's',
 'v',
 'vb'}

# Execute Control Statement

In [319]:
# HOW TO IDENTIFY THE EVEN OR ODD NUMBER WITH IF ELSE CONDITION
x = input('Enter your Number ')
x = int(x)
result = (x % 2)

if result == 0:
    print(f"your Input number {x} is Even ")
else:
    print(f"your Input Number {x} is Odd")

Enter your Number 144
your Input number 144 is Even

# LOOPS

In [321]:
a = range(0,5)

In [322]:
a

range(0, 5)

In [323]:
range(3)

range(0, 3)

In [328]:
list(a)

[0, 1, 2, 3, 4]

In [337]:
city = ['Karachi','Lahore','Islambad','Multan','Karachi']
len(city)

5

In [338]:
for i in range(len(city)):
    print(city[i].upper(),id(city[i]))

KARACHI 3063116741808
LAHORE 3063116740976
ISLAMBAD 3063116736368
MULTAN 3063116732336
KARACHI 3063116741808

In [340]:
for citie in city:
    print(citie.upper(), id(citie))

KARACHI 3063116741808
LAHORE 3063116740976
ISLAMBAD 3063116736368
MULTAN 3063116732336
KARACHI 3063116741808

In [158]:
for citie in city:
 #   print(citie)
    v=0
    for i in range(1**3):
        v+=1
        print(v)

NameError: name 'city' is not defined

In [4]:
y = 0
for a in range(2**6):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63

# List comprehensions, iterators

In [16]:
my_list = [1,2,3,4,5]
empty_list=[]
for i in my_list:
    empty_list.append(i**2)
print(empty_list)

[1, 4, 9, 16, 25]

In [34]:
new_list = [1,2,3,4,5]
emptylist = []
for i in range(len(new_list)):
    emptylist.append([i]*2)
print(emptylist)

[[0, 0], [1, 1], [2, 2], [3, 3], [4, 4]]

In [35]:
new_list = [1,2,3,4,5]
emptylist = []
for i in range(len(new_list)):
    emptylist.append([i]**2)
print(emptylist)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [65]:
my_number = [1,2,3,5,6,7,8,9,10]

for i in my_number:
    for j in range(i):
        print('*',end='')
    print()

*
**
***
*****
******
*******
********
*********
**********

In [71]:
num_list = [1,2,3,4,5,6,7,8,9,10]
cubes = [num**3 for num in num_list]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [72]:
cubes_of_even = []
for num in num_list:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

[8, 64, 216, 512, 1000]

In [73]:
array_of_odd = []
for num in num_list:
    if num % 2 == 1:
        array_of_odd.append(num**3)
array_of_odd

[1, 27, 125, 343, 729]

In [74]:
cubes_and_squre = [num**3 if num %2 == 0 else num**2 for num in num_list]

In [75]:
cubes_and_squre

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000]

In [81]:
mattrix = [[1,2],[3,4]]
item=[]

In [90]:
for row in mattrix:
    for items in row:
        item.append(items)
print(item)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [93]:
item = [items for row in mattrix for items in row]

In [94]:
item

[1, 2, 3, 4]

In [110]:
fruits = ['banana', 'apple','mango','kivi']
unique_lenght = {fruit:len(fruit) for fruit in fruits}
unique_lenght

{'banana': 6, 'apple': 5, 'mango': 5, 'kivi': 4}

In [111]:
for i in fruits:
    a = len(i)
    print(f"the length {i} {a}")

the length banana 6
the length apple 5
the length mango 5
the length kivi 4

# FUNCTION

In [113]:
def print_text():
    print('my son is Muhammad Taha')

print_text()

my son is Muhammad Taha

In [114]:
def print_num(x):
    print(x)

print_num(5)

5

In [115]:
n = print_num(6)
n

6

In [119]:
def add(a,b):
    return a+b
add(1,8)

9

In [120]:
add('Azeem', 'Abbas')

'AzeemAbbas'

In [121]:
add(['azeem','taha'], ['azeem','abbas'])

['azeem', 'taha', 'azeem', 'abbas']

In [128]:
def squre_this(x):
    return x*2

squre_this([1,2])

[1, 2, 1, 2]

In [137]:
def power_this(x, power=2):
    return x**power
power_this(2,0)

1

In [140]:
def min_max(nums):
    return min(nums), max(nums)

series = [1,2,6,7,3,10,8,9,4,5]
mini, maxm = min_max(series)

In [141]:
mini

1

In [142]:
maxm

10

# REGULAR EXPRESSION

In [143]:
import re

In [159]:
clear

In [152]:
#re.match find and compaire the pattern from STRATING of string
parrtern = r'^hellow'
string = 'with the help of gpt, hellow, World'

result = re.match(parrtern, string)
if result :
    print("Pattern Matched")
else:
    print("Pattern Not Found")

Pattern Not Found